
.formDarkMode {
    background-color: #171717;
    color: white;
}

.DarkModeHeader {
    background-color: #171717;
    border-bottom: 1px solid #303030;
}

.DarkModeExitBtn {
    color: white;
}

.inputDarkMode {
    background-color: #212121;
    color: white;
    border: 1px solid #303030;
}

.inputDarkMode:focus {
    background-color: #212121;
    color: white;
}

.inputDarkMode::placeholder {
    color: white;
}

.DarkModeFooter{
    background-color: #171717;
    border-top: 1px solid #303030;
}